
.IngDiv {
   float: left;
   /*background-color: white;*/
   margin-left:2.5%;
   margin-right:2.5%;
}

#ingredient
{
    height: 175px;
    width: 96%;
    background-color: white;
    margin-left: 2%;
}

button
{
    color: black;
}

#randomizedRecipes
{
	text-align: center;
	padding: 5%;
    margin-left: 2%;
}
body
{
    background-image: url('https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSuCI5mqUvj55ZaQE9hb7Pdi1McETN4CZMm9HFsdzvOyDxRi1JH');

}
head
{

}
#footer
{
    background-color: black;
  
}

#logo
{
    width: 3%;
}

.panel-primary
{
    margin-top:5%;
}

.panel-title
{
    color: black;
}
.topJumbo
{
    
    color: white;
}

#myNewListBtn
{
    margin-left: 2%;
}


#twitterFeed
{
    float: left;

}


#moreInformation
{/*
    border: solid;*/
    padding: 2%;
    float: left;
    margin-left: 6%;
}



.highlightRecipe
{
    opacity: .2;
    border: dotted green 2px;
}

.recipeSeven
{
 width: 120px;
/* height: 200px;*/ 
margin: 0 10px;
}


.container
{
    text-align: center;
}

h2 {
    width: 120px;
    font-size: 14px;
    text-align: center;
    margin:0 auto;
}

.recipeBoxes {
    float: left;

}


