#randomizedRecipes
{
	text-align: center;
	padding: 5%;
}
body
{
    background-image: url('https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSuCI5mqUvj55ZaQE9hb7Pdi1McETN4CZMm9HFsdzvOyDxRi1JH');

}
head
{

}
#footer
{
    background-color: white;
  
}

#logo
{
    width: 3%;
}

.panel-primary
{
    margin-top:5%;
}

.panel-title
{
    color: black;
}
.topJumbo
{
    
    color: white;
}

#myNewListBtn
{
    margin-left: 2%;
}
#twitterFeed
{
    width: 12%;
    float: left;
}


#moreInformation
{/*
    border: solid;*/
    padding: 2%;
    float: left;
}

#nonSense
{   
    /*border: solid;*/
    float: left;
    width: 15%;
    padding: 2%;
    margin-left: 10%;
}

#coolKids
{
    /*border: solid;*/
    float: left;
}
/*control over all the 7 recipe images*/


.highlightRecipe
{
    opacity: .2;
    border: dotted green 2px;
}

.recipeSeven
{
 width: 120px;
/* height: 200px;*/ 
margin: 0 10px;
}

#formOne
{
    float: left;
    margin-left: 18%;
}
#formTwo
{
    float: left;
    margin-left: 31%;
}

.container
{
    text-align: center;

}

h2 {
    width: 120px;
    font-size: 14px;
    text-align: center;
    margin:0 auto;
}

.recipeBoxes {
    float: right;
}
