.IngDiv {
   /*float: left;*/
   /*background-color: white;*/
 /*  margin-left:2.5%;
   margin-right:2.5%;*/
   color: black;
}
#giffy
{
     width: 500px;
     margin: 0 auto;
}
#enjoy
{
    width: 100%;
    margin-left: 30%;
    margin-top: 5%;
}
#ingredient
{
    height: 1000px;
    width: 20%;
    background-color: white;
    margin-left: 2%;
    opacity: 0.9;
}
#randomizedRecipes
{
    text-align: center;
    padding: 5%;
}
body
{
    background-image: url('https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSuCI5mqUvj55ZaQE9hb7Pdi1McETN4CZMm9HFsdzvOyDxRi1JH');
}
head
{
}
#footer
{
    background-color: black;
  
}
#logo
{
    width: 3%;
}
.panel-primary
{
    margin-top:5%;
}
.panel-title
{
    color: black;
}
.topJumbo
{
    
    color: white;
}
#myNewListBtn
{
    margin-left: 38%;
}
/*input[type=checkbox]
{
    float: left;
}*/
.highlightRecipe
{
    opacity: .2;
    border: dotted green 2px;
}
.recipeSeven
{
 width: 120px;
/* height: 200px;*/ 
margin: 0 10px;
}
