#randomizedRecipes
{
	text-align: center;
	padding: 5%;
}

#myNewListBtn
{
    margin-left: 2%;
}

#moreInformation
{/*
    border: solid;*/
    padding: 2%;
    float: left;
}

#twitterFeed
{
    border: solid lightblue;
    padding: 2%;
    width: 20%;
    margin-left: 1%;
    margin-bottom: 1%;
    float: left;
}

#nonSense
{   
    /*border: solid;*/
    float: left;
    width: 15%;
    padding: 2%;
    margin-left: 10%;
}

#coolKids
{
    /*border: solid;*/
    float: left;
}
/*control over all the 7 recipe images*/


.highlightImage
{
    opacity: .2;
    border: dotted green 2px;
}

.recipeSeven
{
 width: 120px;
 height: 200px;
 margin: 0 10px;
}


#dayM
{
    float:left;
    margin-left:5%;
}
#dayTu
{
    float:left;
    margin-left:7%;
}
#dayW
{
    float:left;
    margin-left:6%;
}
#dayTh
{
    float:left;
    margin-left:5%;
}
#dayF
{
    float:left;
    margin-left:7%;
}
#daySa
{
    float:left;
    margin-left:8%;
}
#daySu
{
    float:left;
    margin-left:7%;
}
#formOne
{
    float: left;
    margin-left: 18%;
}
#formTwo
{
    float: left;
    margin-left: 31%;
}



#footer
{
    background-color: lightblue;
}

.container
{
    text-align: center;
}

