body {
  background-color: lightblue;
}
  /* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
  margin-bottom: 0;
  border-radfdsafdsafdsius: 0;
  background-color: black;
  color: white;
}

.container {
  background-color: blue;
  margin-top:1%;
}
#image {
  background-color: black;
  width: 5%;
  /* float: left; */
  display: inline-block;
  /* position: relative; */
  /* text-align: center; */
  margin-left: 5%;
  padding: 1%

}

  /* Add a gray background color and some padding to the footer */
footer {
  position: relative;
  background-color: black;
  padding: 25px;
  color: white;
}


/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
  .carousel-caption {
    display: none;
  }
}
